<h1><%= @track.title %></h1>
<p><%= ugly_lyrics @track.lyrics %></p>
<a href="<%= album_url(@track.album_id) %>%">Back to Album</a>
<%= render 'notes/form', {track: @track} %>
<%= render 'notes/note', {notes: @notes} %>